.header__lang-link {
  margin-right: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #fff;
  text-decoration: none;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    max-width: 142px;
    font-size: 18px;
    line-height: calc(20 / 18);
  }
}
