.place__title {
  max-width: 460px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(76 / 72);
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: calc(46 / 42);
  }
}

@media screen and (max-width: 665px) {
  .place__title {
    max-width: 665px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    padding-left: 16px;
    text-align: left;
    font-size: 32px;
    line-height: calc(35 / 32);
  }
}
