.intro__list {
  max-width: 690px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(18 / 12);
  color: #fff;
  list-style: none;
  margin: 33px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    max-width: 288px;
    margin-top: 34px;
  }
}
