.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  padding: 56px 148px 92px 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 48px 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 64px;
  }
}
