.cover__subtitle {
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}
