.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 28px 48px 0 48px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-right: 24px;
    padding-left: 34px;
  }
}
