.place__paragraph {
  max-width: 484px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(29 / 18);
  color: #fff;
  margin: 0 0 26px 0;
  padding: 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: calc(26 / 16);
  }
}

@media screen and (max-width: 665px) {
  .place__paragraph {
    max-width: 665px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    text-align: left;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: calc(26 / 16);
  }
}
