.footer__copyright {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 675px) {
  .footer__copyright {
    margin-left: 20px;
  }
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 470px) {
  .footer__copyright {
    margin-top: 55px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 48px;
    line-height: calc(14 / 14);
  }
}
