.intro {
  max-width: 690px;
  padding: 0 442px 92px 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-right: 286px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 88px;
  }
}
