.lead__subtitle {
  max-width: 640px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(36 / 30);
  color: #fff;
  text-align: center;
  align-self: center;
  margin: 32px 0 0 0;
}

@media screen and (max-width: 665px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: calc(30 / 20);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}
