.cover {
  max-width: 1184px;
  margin: 0 48px;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
  }
}
