.place__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #fff;
}

.place__link:hover {
  opacity: 0.8;
}
