.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  aspect-ratio: 16/10;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
