.cover__title {
  max-width: 560px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: calc(76 / 72);
  color: #fff;
  text-align: center;
  margin: 0 0 32px 0;
  padding: 0;
}

@media screen and (max-width: 505px) {
  .cover__title {
    max-width: 350px;
    font-size: 45px;
    line-height: calc(55 / 45);
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: calc(35 / 32);
    margin-bottom: 16px;
  }
}
