.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
  padding-top: 80px;
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    padding-top: 174px;
  }
}

@media screen and (max-width: 665px) {
  .place {
    max-width: 665px;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 32px;
    padding-top: 120px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    padding-top: 50px;
  }
}
